<main>
  <div class="container">
    <h2>Разработчики</h2>
    <section class="line">
      <div>
        <% @developers.each do |developer| %>
          <%= link_to developer_path(developer) do %>
            <article>
              <%= image_tag 'developers/'+developer.name, alt: developer.name %>
              <p><%= developer.name %></p>
            </article>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>
  <%= render 'layouts/footer' %>
</main>
