<main>
  <div class="container">
    <div class="sorting">

    </div>
    <h2>Планшеты</h2>
    <section class="line">
      <div>
        <% @tablets.each do |tablet| %>
          <%= link_to tablet_path(tablet) do %>
            <article>
              <%= image_tag 'tablets/'+tablet.model, alt: tablet.model %>
              <p><%= tablet.model %></p>
            </article>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>
  <%= render 'layouts/footer' %>
</main>
