<main class="main">
  <div class="container">
    <div class="sorting">

    </div>
    <h2>Трансформеры</h2>
    <section class="line">
      <div>
        <% @transformers.each do |transformer| %>
          <%= link_to transformer_path(transformer) do %>
            <article>
              <%= image_tag 'transformers/'+transformer.model, alt: transformer.model %>
              <p><%= transformer.model %></p>
            </article>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>
  <%= render 'layouts/footer' %>
</main>
