<main class="main">
  <div class="container">
    <div class="sorting">

    </div>
    <h2>Умные часы</h2>
    <section class="line">
      <div>
        <% @watches.each do |watch| %>
          <%= link_to watch_path(watch) do %>
            <article>
              <%= image_tag 'watches/'+watch.model, alt: watch.model %>
              <p><%= watch.model %></p>
            </article>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>
  <%= render 'layouts/footer' %>
</main>
