/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FAFAFA;
}

html body *::selection {
  background-color: #ff6d00;
  color: #FAFAFA;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  color: #FAFAFA;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-size: 30pt;
}

h2 {
  color: #FF9100;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15pt;
}

h3 {
  color: #FF9100;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4vw;
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  color: #FAFAFA;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-size: 14pt;
}

aside {
  width: 180px;
  height: 100vh;
  background-color: #FF9100;
  position: fixed;
  font-family: 'Roboto', sans-serif;
  color: #FAFAFA;
  padding-left: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
}

aside a {
  padding: 8px;
}

aside .logo {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 14pt;
  margin-top: 10px;
}

aside .logo img {
  width: 25px;
  margin-right: 10px;
}

aside .top-menu {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

aside .bottom-menu {
  bottom: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

main {
  position: absolute;
  left: 200px;
  width: calc(100% - 200px);
}

main .container {
  margin: 10px auto 30px auto;
  width: 85%;
}

main .line {
  margin-top: 10px;
}

main .line div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

main .line div article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #FAFAFA;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  margin-right: 15px;
  color: #009688;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14pt;
  min-height: 200px;
  min-width: 100px;
}

main .device-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

main .container .gadget-head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

main .container .gadget-head .gadget-caption {
  width: 100%;
  margin: 10px 0;
  font-size: 18pt;
  color: #009688;
}

main .container .gadget-head .img-box {
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  padding: 20px;
}

main .container .gadget-head .img-box a{
  outline: none;
  cursor: zoom-in;
}

main .container .gadget-head .main-specs {
  margin: 0 15px;
}

main .container .gadget-head .edit-buttons {
  display: flex;
  flex-direction: column;
}

main .container .specs {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #9E9E9E;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  padding: 20px;
}

main .container table caption {
  font-size: 15pt;
  margin: 20px 0;
  text-align: left;
}

main .container table tr .sub-heading {
  color: #FF9100;
  padding: 15px 0 10px 0;
}

main .container table tr td:nth-child(2n) {
  text-align: left;
  padding: 6px;
  color: #009688;
}

main form .device-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  color: #009688;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

main form .device-form input[type="text"] {
  border: none;
  border-bottom: 2px solid #FF9100;
  background: none;
  color: #9A9A9A;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 5px;
  margin: 10px;
  outline: none;
}

main .button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12pt;
  background: none;
  border: none;
  cursor: pointer;
  color: #FF9100;
  padding: 8px;
  text-transform: uppercase;
  transition-duration: 0.2s;
  border-radius: 2px;
}

main .attention:hover {
  background-color: #F44336 !important;
}

main .button:hover {
  background-color: #FF9100;
  border: none;
  cursor: pointer;
  color: #FAFAFA;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #9E9E9E;
  height: 100px;
  width: calc(100% - 40px);
  padding: 20px;
  color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 11pt;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}
