/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h2 {
  color: #FF9100;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15pt;
}

.sidebar {
  width: 180px;
  height: 100vh;
  background-color: #FF9100;
  position: fixed;
  font-family: 'Roboto', sans-serif;
  color: #FAFAFA;
  padding-left: 20px;
}

.sidebar a {
  padding: 8px;
}
.sidebar .logo {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 14pt;
  margin-top: 10px;
}

.sidebar .logo img {
  width: 25px;
  margin-right: 10px;
}

.sidebar .top-menu {
  display: flex;
  flex-direction: column;
  line-height: 14pt;
}

.sidebar .bottom-menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 10px;
  line-height: 14pt;
}

main {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 200px;
  width: calc(100% - 200px);
  cursor: default;
  min-height: 100%;
}

main .line {
  padding: 10px 0 0 20px;
  height: 300px;
}

main .line div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

main .line div article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  width: 150px;
  height: 250px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  margin-right: 15px;
  color: #009688;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15pt;
}

footer {
  background-color: #9E9E9E;
  height: 300px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
