/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 8px;
}

.sidebar {
  width: 180px;
  height: 100vh;
  background-color: #FF9100;
  position: fixed;
  font-family: 'Roboto', sans-serif;
  color: #FAFAFA;
  padding-left: 20px;
}

.sidebar .logo {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 14pt;
  margin-top: 10px;
}

.sidebar .logo img {
  width: 25px;
  margin-right: 10px;
}

.sidebar .top-menu {
  display: flex;
  flex-direction: column;
  line-height: 14pt;
}

.sidebar .bottom-menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 10px;
  line-height: 14pt;
}
