body {
  background-color: #FAFAFA;
}

h1 {
  color: #FAFAFA;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-size: 40pt;
  margin: 30px 0;
}

main .reg {
  position: absolute;
  right: 0;
  margin: 20px;
}

main .reg a {
  color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 8px;
}

main .welcome {
  background-color: #009688;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main .welcome div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  width: 65%;
}

main .welcome figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FAFAFA;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  width: 12vw;
  height: 12vw;
  border-left: 10px solid #9E9E9E;
  box-sizing: border-box;
  transition-duration: 0.2s;
}

main .welcome figure:hover {
  cursor: pointer;
  border-left: 10px solid #FF9100;
}
