// Place all the styles related to the Phones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 200px;
  width: calc(100% - 200px);
  cursor: default;
}
